*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    
}

/**boot CSS**/

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

h2{
    font-weight: bold;
}

h1{
    padding: 20px;
}

div.cor{
    background: #f2f2f2;
    padding: 20px;
}

div.tamanhoContainer{
    width: 500px;
    padding: 65px;
}

#botao{
    margin-left: 20px;
    background-color: #6ebf6b;
    color: #fff;
    border-color: #28a745;
    
}

.btn.botao{
    background-color: #6ebf6b;
    color: #fff;
    border-color: #28a745;
}

form div.text-right{
    
    padding-bottom: 50px;
}



/**Estilização do site**/


header{
    padding: 41px 0px;
    background: #f2f2f2;

}

.ml-2 {
    font-weight: bold;
    font-size: 25px;
    vertical-align: middle;
    color: #646464;
}

header nav{
    background: #f2f2f2;
    border-bottom: 1px solid #6ebf6b;
}


/*Estilização do agenda*/

.agenda{
    width: 100%;
    height: 630px;
    background-image: url(../imagens/fundo.jpg);
    background-size: cover;
    position: relative;
}

@media screen and (max-width: 1080px) {
    .agenda {
      height: 400px;
    }
  }

@media screen and (max-width: 750px) {
    .agenda {
      height: 200px;
    }
  }

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 1;
}

section.agenda form{
    width: 98%;
    max-width: 600px;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background: none;
}

section.agenda form h2{
    color: #f2f2f2;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    background: none;
}

section.agenda .btn{
    background-color: #6ebf6b;
    color: #fff;
    border-color: #28a745;
}



/*Serviços container*/
section div.icone{
    font-size: 25px;
    color: #808080;
}

section div.icone i{
    color: #6ebf6b;
    font-size: 80px;
    padding-top: 40px;
    padding-bottom: 20px;
}

h2.servicos{
    text-align: center;
    padding-top: 10px;
    color: #646464;
}

section.servicos-container {
    padding-top: 40px;
    padding-bottom: 50px;
    background: #f2f2f2;
}

div.row {
    padding-bottom: 30px;
}

/*Quem somos*/

section.quem-somos{
    background: #f2f2f2;
    background-image: url(../imagens/fundo2.png);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

 .posicao{
    
    width:  auto;
    border: 1px solid #6ebf6b;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px 0px #808080;
    
}

@media screen and (max-width: 1080px) {
    section.quem-somos {
      height: 400px;
    }
  }

@media screen and (max-width: 750px) {
    section.quem-somos {
      height: 200px;
    }
  }

.img{
    border: 1px solid #6ebf6b;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px #808080;
}

.esp{
    padding-top: 10px;
    color: #646464;
}

.txt{
    font-size: 25px;
    color: #808080;
}


/*medicos-container*/

section.medicos-container{
    background: #f2f2f2;
    padding-bottom: 50px;
    
}

h2.equipe{
    color: #646464;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

h3.nome{
    padding-top: 20px;
    color: #646464;
    
}

p.esp{
    
    color: #646464;
    font-size: 25px;
}

div.row div {
    text-align: center;
    
    
}

div.row div img{
    border: 1px solid #6ebf6b;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px 0px #808080;
}

/*Planos*/

h2.planos{
    color: #646464;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0px;
}

section.planos-container{
    text-align: center;
    background-color: rgba(50, 50, 50, 0.1);
    padding-bottom: 70px;
}

section.planos-container .btn{
    background-color: #6ebf6b;
}

/*cotacao*/


/*footer*/
footer{
    background: #011a00;
    padding-top: 20px;
    color: #fff;
}

footer h3 i.rede{
    font-size: 30px;
}

footer div.icone {
    justify-content: flex-end;
}
footer div.icone span i{
    color: #fff;
    font-size: 32px;
    margin-right: 10px;
}

div p.endereco{
    padding: 0px;
    margin: 0px;
}

div.teste{
    width: 30%;
    
}

/*formulario*/

h3.titulo{
    text-align: center;
    color: #808080;
    padding: 30px;
}

form.formulario{
    margin-top: 40px;
}

div.cadastro{
   padding: 50px;
   
}

h1.sucesso{
    color: #646464;
    padding-bottom: 80px;
    text-transform: uppercase;
    font-size: 40px;
}

h2.sucesso{
    color: #646464;
    padding-top: 30px;
    
}

/*img.cadastro{
    border: 1px solid #6ebf6b;
    border-radius: 100px;
    box-shadow: 0px 10px 30px 0px #808080;
}*/

/*validacao*/
img.erro{
    height: 250px;
    
}

/*parallax*/
.parallax1{
    background-image: url("../imagens/img6.jpg");
    min-height: 850px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
    background-image: url("../imagens/img8.jpg");
    min-height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3{
    background-image: url("../imagens/img30.png");
    min-height: 900px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4{
    background-image: url("../imagens/img36.jpg");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax5{
    background-image: url("../imagens/img40.jpg");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}