*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    
}

/**boot CSS**/

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

h2{
    font-weight: bold;
}



/**Estilização do site**/


header{
    padding: 0px 0;
    background: #f2f2f2;
}

.ml-2 {
    font-weight: bold;
    font-size: 25px;
    vertical-align: middle;
    color: #646464;
}


/*Estilização do agenda*/

.agenda{
    width: 100%;
    height: 630px;
    background-image: url(../imagens/fundo.jpg);
    background-size: cover;
    position: relative;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 1;
}

section.agenda form{
    width: 98%;
    max-width: 600px;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background: none;
}

section.agenda form h2{
    color: #f2f2f2;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    background: none;
}

section.agenda form input[type=email]{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background: #f2f2f2;
    color: black;
    font-size: 30px;
    padding-left: 10px;
    border: 0;
}

section.agenda form input[type=submit]{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background: #6ebf6b;
    color: #f2f2f2;
    cursor: pointer;
    font-size: 30px;
    border: 0;
    font-weight: bold;
}

/*Serviços container*/

div.icone i{
    color: #6ebf6b;
    font-size: 80px;
    padding-top: 40px;
    padding-bottom: 20px;
}

h2.servicos{
    text-align: center;
    padding-top: 10px;
    color: #646464;
}

.icone{
    font-size: 25px;
    color: #808080;
}

section.servicos-container {
    padding-top: 40px;
    padding-bottom: 50px;
    background: #f2f2f2;
}

div.row {
    padding-bottom: 30px;
}

/*Quem somos*/

section.quem-somos{
    background: #f2f2f2;
    background-image: url(../imagens/fundo2.png);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*medicos-container*/

section.medicos-container{
    background: #f2f2f2;
    padding-bottom: 50px;
}

h2.equipe{
    color: #646464;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

h3.nome{
    padding-top: 20px;
    color: #646464;
    
}

p.esp{
    
    color: #646464;
    font-size: 25px;
}

div.row div {
    text-align: center;
    
    
}

div.row div img{
    border: 1px solid #6ebf6b;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px 0px #808080;
}

/*Planos*/

h2.planos{
    color: #646464;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

section.planos-container{
    text-align: center;
    background-color: rgba(50, 50, 50, 0.1);
}

.botao{
    border:1px solid #6ebf6b;
}

/*footer*/

